body{
    text-align:center;
    
}
.honbun {
    margin-top: 30px;
    margin-bottom: 12px;
}
.label{
    vertical-align: top;
    margin-right: 5px;
}
.toukou{
    border-top: 1px solid;
    margin: 40px auto;
    max-width: 975px;
}